

<header class="main-heading" data-turbolinks='false'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <div class="page-icon">
          <i class="icon-people"></i>
        </div>
        <div class="page-title">
          <h5>New Team</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="main-content" data-turbolinks='false'>
  <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <%= form_with(model: team, local: true) do |f| %>
        <div class="card">
           <% if team.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

              <ul>
              <% team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="card-body table-responsive table-width1">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div class="form-group">
                <%= f.label :name, class: 'required-field' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div  class="col-md-4 col-xs-12">
                <p><strong>Team Members: <%= link_to "#", class: 'btn btn-primary float-right m-right-5',id: "add_member_btn", title: 'add member'  do %>
                    <span class="icon-plus2"></span>
                  <% end %></strong></p>
              </div>
            </div>
            <div class="row">
              <div  class="col-md-4 col-xs-12">
                <%= f.fields_for :team_members do |tm| %>
                  <%= render 'team_member_fields', f: tm %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div class="form-group">
                  <%= link_to_add_association 'add member', f, :team_members,hidden: true,id: "add_members" %>
                </div>
                <div class="form-group">
                  <%= f.submit class: 'btn btn-primary' %>
                  <%= link_to 'Cancel', @team, class: 'btn btn-light' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
