<div class="login-screen row align-items-center">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: "off" } ) do |f| %>
      <div class="login-container">
        <div class="row no-gutters">
          <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
            <div class="login-box">
              <a href="#" class="login-logo">
                <h3>Sign In</h3>
              </a>
              <div class="input-group-aa">
                <%= f.label :email, class: "input-group-addon" do %>
                  <span class: "input-group-addon"><i class="icon-account_circle"></i></span>
                  <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "Email",placeholder: "Email", required: true %>
                <% end %>
              </div>
              <br>

              <div class="input-group-aa">
                <%= f.label :password,class: "input-group-addon" do %><br /><span class: "input-group-addon"><i class="icon-verified_user"></i></span><br />
                  <%= f.password_field :password,class: "form-control", autocomplete: "current-password",placeholder: "Password", required: true %>
                <% end %>
              </div>
              <br>

              <div class="actions clearfix">
                <%= f.submit "Login",class: "btn btn-primary" %>
              </div>

              <div class="or"></div>
              <div class="mt-4">
                  <%= link_to "Register", new_registration_path(resource_name),class: "additional-link" %><br />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <div class="login-slider"></div>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>