<header class="main-heading" data-turbolinks='false'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <div class="page-icon">
          <i class="icon-people"></i>
        </div>
        <div class="page-title">
          <h5>Members</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="right-actions">
            <%= link_to new_member_path, class: 'btn btn-primary float-right m-right-5', title: 'Create User'  do %>
              <span class="icon-plus2"></span>
            <% end %>
         
        </div>
      </div>
    </div>
  </div>
</header>
<div class="main-content" data-turbolinks='false'>
  <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body table-responsive table-width1">
          <table class="table table-bordered table-responsive table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.name %></td>
                  <td>
                    <%= link_to member do %>
                      <button class="btn btn-primary btn-sm mr-1" data-toggle="tooltip" title="View"><span class="icon-eye"></span></button>
                    <% end %>
                    <%= link_to edit_member_path(member) do %>
                        <button class="btn btn-primary btn-sm mr-1" data-toggle="tooltip" title="Edit"><span class="icon-pencil2"></span></button>
                    <% end %>
                    
                      <%= link_to member, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <button class="btn btn-secondary btn-sm mr-1" data-toggle="tooltip" title="Remove"><span class="icon-circle-with-cross"></span></button>
                      <% end %>
                    
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>